{% extends 'base.html' %}
{% load static %}


{% block title %}Главная{% endblock %}

{% block content %}
  <!-- chat -->
  <div id="chat" class="chat shadow-lg">
    <div class="chat_header">
      <div>
        <img class="chat_img" src="{% static 'img/logo.jpg' %}" alt="Logo brand">
      </div>
      <div id="chat_exit" class="text-center me-2">
        <i class="fa-solid fa-xmark px-3"></i>
      </div>
    </div>
    <div id="chat_body" class="chat_body">
      <!-- <div class="response">
        <div class="message">
          Lorem ipsum dolor sit.
        </div>
      </div> -->
      <!-- <div class="request">
        <div class="message">
          Assalomu Alaykum Saytimizga Xush kelibsiz!!!
        </div>
      </div> -->
    </div>
  </div>


<!-- Home section start -->
<section>
    <div class="container mt-5">
        <div class="row d-sm-flex justify-content-sm-center px-lg-5 pt-4">
            <div class="col-12 col-lg-6 pb-3 d-sm-flex justify-content-sm-center">
                <img src="{% static 'img/main.jpg' %}" alt="Img" class="img-fluid">
            </div>
            <div
                class="col-12 col-lg-6 mt-md-0 mt-4 p-0  pb-3 d-sm-flex justify-content-sm-center d-flex justify-content-center">
                <div class="green px-4 pt-3 pt-lg-2 card-body">
                    <h4 class="card-title">О нас</h4>
                    <span class="u-dark"></span>
                    <p class="w-100 mt-lg-2 mt-2 card-text">{{ info.about }}</p>
                    <button id="chat_submit" class="btn btn-dark mt-md-2 mt-lg-5  mt-0 mb-3 px-5 py-3">Попробовать</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home section end -->

<section class="container mt-80">
    <div class="row px-lg-5">
        <div class="col-12 position-relative p-0">
            <p class="bg-1">Интенсивность</p>
            <div class="ul-dark w-100"></div>
            <p class="text-center text-sm-center mt-2 display-6">Выбор упражнений и тренировок по интенсивности</p>
            <div class="ul-dark2 mt-4"></div>
        </div>
    </div>
</section>


<section class="container mt-80">
    <div class="row px-lg-5">
        <div class="col-12 col-sm-6 col-lg-3 mt-3 mt-lg-0">
            <center>
                <div class="circle_number">
                    1
                </div>
            </center>
            <h3 class="text-center mt-1">Низкая</h3>
            <p class="text-center">Подходит для тех, кто только начал заниматься физическими упражнениями</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mt-3 mt-lg-0">
            <center>
                <div class="circle_number">
                    2
                </div>
            </center>
            <h3 class="text-center mt-1">Умеренная</h3>
            <p class="text-center">Подходит для тех, кто постепенно укрепляет мыщцы своего тела</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mt-3 mt-lg-0">
            <center>
                <div class="circle_number">
                    3
                </div>
            </center>
            <h3 class="text-center mt-1">Средняя</h3>
            <p class="text-center">Подходит для тех, кто привык тренироваться в ускоренном темпе</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mt-3 mt-lg-0">
            <center>
                <div class="circle_number">
                    4
                </div>
            </center>
            <h3 class="text-center mt-1">Большая</h3>
            <p class="text-center">Подходит для тех, кто имеет опыт больших нагрузок на свой организм</p>
        </div>
    </div>
</section>


<section class="container mt-80">
    <div class="row px-lg-5">
        <div class="col-12 position-relative p-0">
            <p class="bg-1">тип</p>
            <div class="ul-dark w-100"></div>
            <p class="text-center text-sm-center mt-2 display-6">Выбор упражнений и тренировок по типу</p>
            <div class="ul-dark2 mt-4"></div>
        </div>
    </div>
</section>


<section class="container mt-80">
    <div class="row px-lg-5">
        <div class="col-12 col-sm-6 col-lg-3 mt-3 mt-lg-0">
            <center>
                <div class="circle_number">
                    1
                </div>
            </center>
            <p class="text-center mt-2">Для женщин</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mt-3 mt-lg-0">
            <center>
                <div class="circle_number">
                    2
                </div>
            </center>
            <p class="text-center mt-2">Для мужчин</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mt-3 mt-lg-0">
            <center>
                <div class="circle_number">
                    3
                </div>
            </center>
            <p class="text-center mt-2">Для похудения</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mt-3 mt-lg-0">
            <center>
                <div class="circle_number">
                    4
                </div>
            </center>
            <p class="text-center mt-2">Для набора мышечной мыссы</p>
        </div>
    </div>
</section>

<section class="container mt-80">
    <div class="d-flex justify-content-center flex-wrap">
        <button class="btn btn-dark mx-2 mt-2 px-5"><a target="_blank" href="{{ info.tg_link }}"><i
                    class="fa-sharp fa-solid fa-paper-plane"></i></a></button>
        <button class="btn btn-dark mx-2 mt-2 px-5"><a target="_blank" href="{{ info.wh_link }}"><i class="fa-brands fa-whatsapp"></i></i></a></button>
        <button class="btn btn-dark mx-2 mt-2 px-5"><a target="_blank" href="mailto:{{ info.email }}"><i class="fa-solid fa-envelope"></i></a></button>
        <button class="btn btn-dark mx-2 mt-2 px-5"><a href="tel:{{ info.tel }}"><i class="fa-solid fa-phone"></i></a></button>
    </div>
</section>

<footer class="container mt-80">
    <p>&copy; All Rights Reserved. MyFitness Inc.</p>
</footer>

{% endblock %}