{% extends 'base.html' %}


{% block title %}Регистрация{% endblock %}

{% block content %}

<section class="container mt-80">
    <p class="m-auto text-center w-75 fw-bold">У вас еще нет нашего аккаунта?</p>
    <p class="m-auto text-center w-75 fw-bold">Вы можете зарегистрироваться по форме ниже</p>
    <form class="row justify-content-center" method="post">
        {% csrf_token %}
        <div class="col-12 col-md-8 col-lg-6 mt-5">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" id="floatingInput" placeholder="E-mail" required>
            <label for="floatingInput">E-mail почта</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="fname" id="floatingInput" placeholder="Имя" required>
            <label for="floatingInput">Имя</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="lname" id="floatingInput" placeholder="Фамилия" required>
            <label for="floatingInput">Фамилия</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Пароль" required>
            <label for="floatingPassword">Пароль</label>
        </div>
        {% if message %}
            <div class="alert alert-{{col}} text-center">{{message}}</div>
        {% endif %}
        <input class="form-control w-25 mt-3 btn-dark m-auto" type="submit" value="Войти">
        </div>
    </form>
</section>
{% endblock %}