{% extends 'base.html' %}


{% block title %}Восстановление пароля{% endblock %}

{% block content %}

<section class="container mt-80 mb-5">
    <p class="m-auto text-center w-75">Восстановления пароля</p>
    <form class="row justify-content-center align-items-center mt-5" method="post">
        {% csrf_token %}
      <div class="col-12 col-md-8 col-lg-6 mt-5">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" name="email" id="floatingInput" placeholder="E-mail">
          <label for="floatingInput">Введите почта</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Пароль">
          <label for="floatingPassword">Введите новый пароль</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password1" id="floatingPassword" placeholder="Пароль">
            <label for="floatingPassword">Повторите новый пароль</label>
        </div>
        {% if message %}
        <div class="alert alert-{{col}} text-center">{{message}}</div>
        {% endif %}
        <input class="form-control w-25 mt-3 btn-dark m-auto" type="submit" value="Войти">
      </div>
    </form>
  </section>

{% endblock %}